<form>
  <mat-form-field>
    <mat-label for="name">Name</mat-label>
    <input matInput type="text" id="name" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="amount">Amount</mat-label>
    <input matInput type="number" id="amount" />
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" type="submit">Add</button>&nbsp;&nbsp;
    <button mat-raised-button color="warn" type="button">Delete</button>&nbsp;&nbsp;
    <button mat-raised-button color="basic" type="button">Clear</button>
  </div>
</form>
