<table>
  <ng-container matColumnDef="recipeList">
    <td mat-cell width="25%" height="100%">
      <app-recipe-list (showRecipeEvent)="showRecipeDetails($event)"></app-recipe-list>
    </td>
  </ng-container>
  <ng-container matColumnDef="recipeDetail">
    <td mat-cell width="25%" height="100%">
        <app-recipe-detail *ngIf="recipe; else selectRecipe" [recipe]="recipe"></app-recipe-detail>
        <ng-template #selectRecipe>
          <p>
            Please select recipe!
          </p>
        </ng-template>
    </td>
  </ng-container>
</table>


  
  
